<div class="container">
  <img src="/img/Maison noir.jpg" alt="Arriere_plan" class="background-img">
    <h2>Liste des Categorie</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Decription</th>
          <th>Quartier</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Exemple de données fictives -->
        <tr>
          <td>villa</td>
          <td>Booss</td>
          <td>Bastos</td>
          <td>
<!-- Dans le tableau -->
              <div class="buttons">
              <a class="btn btn-secondary">Détails</a>
              <a href="categoriedetail" class="btn btn-secondary">Modifier</a>
              <a class="btn btn-secondary">Supprimer</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Appartement</td>
          <td>?????</td>
          <td>Damas</td>
          <td>
            <div class="buttons">
              <a class="btn btn-secondary">Détails</a>
              <a href="categoriedetail" class="btn btn-secondary">Modifier</a>
              <a class="btn btn-secondary">Supprimer</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    
    <a href="categorie" class="btn btn-success">Ajouter un d'une categorie</a>
  </div>
  

