<div class="container">
  <img src="/img/Maison noir.jpg" alt="Arriere_plan" class="background-img">
    <h2>Liste des Quartiers</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Superficie (m²)</th>
          <th>Decription</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Exemple de données fictives -->
        <tr>
          <td>Bastos</td>
          <td>12000</td>
          <td>Plus tot anime</td>
          <td>
<!-- Dans le tableau -->
              <div class="buttons">
              <a class="btn btn-secondary">Détails</a>
              <a href="maisondetail" class="btn btn-secondary">Modifier</a>
              <a class="btn btn-secondary">Supprimer</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Damas</td>
          <td>9000</td>
          <td>Aucune animation</td>
          <td>
            <div class="buttons">
              <a class="btn btn-secondary">Détails</a>
              <a href="quartierdetail" class="btn btn-secondary">Modifier</a>
              <a class="btn btn-secondary">Supprimer</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    
    <a href="quartier" class="btn btn-success">Ajouter un quartier</a>
  </div>
  
