<div class="container">
  <img src="/img/Maison noir.jpg" alt="Arriere_plan" class="background-img">
    <h2>Modifier une categorie</h2>
    <form>
      <label for="nom">Nom :</label>
      <input type="text" id="nom" name="nom" required>
  
      

      <label for="nbCategorie">Description:</label>
      <input type="text" id="text" class="form-control" >

      <label for="quartier">Quartier :</label>
      <select id="quartier" name="quartier" required>
        <option value=" "> </option>
        <option value="bastos">Bastos</option>
        <option value="Damas">Damas</option>
      </select>
  
  

  
      <div class="buttons">
        <!-- Lien vers la liste des maisons après enregistrement -->
        <a href="categorielist" class="btn btn-primary">Enregistrer</a>
        <a href="categorielist" class="btn btn-secondary">Annuler</a>
      </div>
    </form>
  </div>
  
