<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="lien">
        <img src="/img/Maison noir.jpg" alt="Arriere_plan" class="background-img">
        <div class="container mt-5 text-center">
            <h1 class="mb-4">Welcome!</h1>

            <div class="d-grid gap-3 col-6 mx-auto">
                <a href="maison" class="btn btn-maison">Ajouter une maison</a>
                <a href="quartier" class="btn btn-quartier">Ajouter un quartier</a>
                <a href="categorie" class="btn btn-categorie">Ajouter une catégorie</a>
                <form  style="display:inline;">
                     <a href="login" type="text" class="btn btn-logout">Déconnexion</a>
                </form>
        
            </div>
        </div>
    </section>
    
    
</body>
</html>