<section class="lien">
    <img src="/img/Maison noir.jpg" alt="Arriere_plan" class="background-img">
        <header>
            
            <div class="ref">
                <div class="logo"><p class="Eby">WebEby </p></div>
                <div class="links">
                    <a href="login">se connecter</a>
                    <a href="">Contact us</a>
                    <a href="">Nos utilisateurs</a>
                </div>
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Rechercher..">
                </div>
            </div>
            <div class="text">
                <h2>DASHBOARD</h2>
                <p>"Venez enregistrer les information sur votre localite." </p>
            </div>
            
        </header>
    </section>
