
<div class="container">
    <img src="/img/Maison noir.jpg" alt="Arriere_plan" class="background-img">
    <h2>Liste des maisons</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Quartier</th>
          <th>Superficie (m²)</th>
          <th>Adresse</th>
          <th>Catégorie</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Exemple de données fictives -->
        <tr>
          <td>Bastos</td>
          <td>120</td>
          <td>Rue A, Ville X</td>
          <td>Villa</td>
          <td>
<!-- Dans le tableau -->
              <div class="buttons">
              <a class="btn btn-secondary">Détails</a>
              <a href="maisondetail" class="btn btn-secondary">Modifier</a>
              <a class="btn btn-secondary">Supprimer</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Etok-koss</td>
          <td>90</td>
          <td>Rue B, Ville Y</td>
          <td>Appartement</td>
          <td>
            <div class="buttons">
              <a class="btn btn-secondary">Détails</a>
              <a href="maisondetail" class="btn btn-secondary">Modifier</a>
              <a class="btn btn-secondary">Supprimer</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <a href="maison" class="btn btn-success">Ajouter une maison</a>
    
  </div>
  
